@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    background: #324e7e;
    color:#000;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}

p{
    text-align: justify;
    line-height:2em;
}

.bg-eee{
    background-color: #eee;
}

.bg-green{
    background-color:green;
}

.bg-blue{
    background-color:#324e7e;
}

.color-eee{
    color:#eee;
}

.title-center{
    justify-self:center;
    text-align:center;
}

.container-sobre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.content-center{
    padding:15px;
}

.navbar-default{
    background-color:#eee;
    font-weight:bolder;
    -webkit-box-shadow: 0 5px 3px -6px black;
    -moz-box-shadow: 0 5px 3px -6px black;
    box-shadow: 0 5px 3px -6px black;
}

.navbar-default ul li a{
    font-size:110%
}

.navbar-custom .navbar-nav .nav-link {
    color:black;
    height:100%;
}

.navbar-custom .navbar-nav .nav-item .nav-link:hover {
    color:white;
    background-color: black;
}

.navbar-default .navbar-brand {
    color:black;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: rgb(119, 119, 119);
    background-color: transparent;
}


@media screen and (max-width: 768px) {

    .main{
        display:grid;
        grid-template-rows: repeat (2, 100%);
    }

    .col{
        height:100vmax;
    }

    .container-image{
        padding:50% 0;
    }

   
}