body{
    margin :0;
    padding: 0;
    background: white;
    
}

.box{
    width: 100%;
    height: 1200px;
    background: url(../images/main.png)   ;
    position: absolute;
    z-index: -1;
    background-size: cover;
    margin: auto;
    color: blueviolet;
    font-family:'Nunito', sans-serif;
}
.heading{
    width:auto;
    height:400px;
    margin:10px;
    color: #4c37a8;
    font-size: 1.8em;
    font-family: "Pacifico", cursive;
}
.desc{
    width:480px;
    height:500px;
    font-size: 2.2rem;
    margin: 20px;
    color: #444;
}
.name{
    font-size: 3rem;
    color: palevioletred;
    font:bold;
    font-family:'Nunito', sans-serif;

}
.design{
    font-size: 1em;
    color:red;
    font:bold;
    font-family: "Pacifico", cursive;
  
}
.Connect{
    margin: 20px;
    color:orange;
}
.con{
    font-size: 4rem;
    margin: 5px;
    margin-bottom: 30px;

    
}
.container{
    width:auto;
    height: 250px;
    display: flex;
    margin: 10px;
    margin-left:525px;
    
}
.prof-img{
    margin: 10px;
   border-radius: 100px;
   border:5px #4c37a8 solid;
}
.prof-text{
    margin-top:10px;
    text-align: center;
    color: gray;
    font-size: 2rem;
}
.container1{
    width: 100%;
    height: auto;
    display: inline;
}
.icons{
    margin-left:525px;
}
.icons li{
    padding: 15px;
    display: inline;

}