body{
    margin :0;
    padding: 0;
    background: url(../images/bg.jpg) no-repeat;
    background-size: auto;
}

.background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
  }

.box{
    width: 450px;
    background: rgba(0,0,0,0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Centuary Gothic', sans-serif;
}

.boxImg{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5{
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 100;
}

.box p{
    text-align: center;
}

ul{
    margin: 0;
    padding: 0;
}

.box li{
    margin: 6px;
    list-style: none;
}

.box l1 a{
    color: white;
    text-decoration: none;
    font-size: 60px;
}

#social_media {
    height:auto;
    width:100%;
    text-align:center;
}
    ul {
        text-align: center;
        position:relative;
    }


#social_media li {
    display:inline-block;
}

.fa{
    padding:20px;
    color: rgb(255,255,255,0.5);
}

/* For navbar */

.navbar {
    color: white;
    font-family: 'Centuary Gothic', sans-serif;
    font-size: 1.25rem;
    z-index: 1;
    background-color: rgba(8, 11, 35, 1);
}

.navbar ul {
    list-style-type: none;
    padding: 0.5rem;
    overflow: hidden;
    float: right;
}

.navbar li {
    float: right;
    padding: 14px 16px;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.5s;
    font-family: 'Centuary Gothic', sans-serif;
    font-size: 1.25em;
}

.navbar li a:hover {
    color: orange;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color:transparent;
}


.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    float: left;
    margin: 0.5rem;
}

/*  Content Center */
.row{
    display:flex;
    margin:0;
}


/* nav mobile style */
.navbar .navbar-toggle .icon-bar {
    background-color: white;
}